.container-admin-banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 80px 0px 20px;
}

.logo-admin {
    width: 400px;
}

.container-admin-banner h1 {
    margin-top: 40px;
    font-size: 30px;
    color: #EBC181;
}



h2 {
    font-size: 24px;
}

.container-table {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-table table {
    width: 90%;
    margin: auto 0;
    font-family: 'Poppins', sans-serif;
}

table, th, td {
    border: 1px solid #EBC181;
}

table th {
    padding: 8px;
    background-color: #EBC181;
    font-size: 18px;
    color: #333B1E;
    font-weight: bold;
    text-align: left;
}

table td {
    font-size: 18px;
    padding: 8px;
    color: #FFF;
}

.botao-editar {
    background: #9B8357;
}

.botao-excluir {
    background: crimson;
}

table tbody tr td a, .botao-cadastrar, .botao-excluir {
    padding: 3px 10px;
    border-radius: 10px;
    color: #FFF;
    text-decoration: none;
    margin: 0 5px;
    border: none;
    font-size: 18px;
}

table tbody tr td a:hover, .botao-cadastrar:hover, .botao-excluir:hover {
    cursor: pointer;
    filter: saturate(150%);
}

.botao-cadastrar {
    background: #EBC181;
    color: #333B1E;
    font-weight: 600;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 10px;
    border: none;
}

.container-topo {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    max-width: 100%;
    padding: 20px;
}

.topo-direita {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: #EBC181;
    padding: 10px;
    border-radius: 5px;
}

.topo-direita p{
    margin: 0;
}

.topo-direita form {
    margin: 0;
}

.conteudo {
    text-align: center;
    margin-top: 20px;
}

.botao-sair {
    background-color: #EBC181;
    color: #333B1E;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.botao-sair:hover{
    background-color: #d9a95f;
    transform: scale(1.05);
}