form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.container-form {
    display: flex;
    justify-content: center;
}

form label {
    color: #EBC181;
    font-weight: bold;
    margin-bottom: 5px;
}

form input {
    border-radius: 10px;
    border: 3px solid #333B1E;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}
